nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgb(97, 205, 50);
  padding: 10px;
}

nav a{
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s;
  display: flex;
  align-items: center;
  gap: 5px;
}

nav a:hover{
  color: cadetblue;
}